<h1>Chats index</h1>


<table>
    <thead>
        <tr>
            <th>Sender ID</th>
            <th>Receiver ID</th>
        </tr>
    </thead>
        <tbody id="chats">
            <% @chats.each do |chat| %>
                <tr>
                    <td><%= chat.sender_id %></td>
                    <td><%= chat.receiver_id %></td>
                </tr>
        <% end %>
    </tbody>
</table>
