<%= render "layouts/menu" %>

<html>
    <body>
        <h1>Chat Data</h1>

        <p>Sender ID: <%= @chat.sender_id %></p>
        <p>Receiver ID: <%= @chat.receiver_id %></p>

        <%= link_to 'Back to Chats', chats_path %>
    </body>    
</html>